pycharm:
  jetbrains:
    #See https://www.jetbrains.com/help/pycharm/meet-pycharm.html
    #Defaults is 'PC' (PyCharm). Choose 'PCE' (PyCharm-Edu) for students.
    product: PC
    #Defaults is 'C' (community). Choose 'P' (professional) or '' (students).
    edition: C
  dl:
    retries: 1
    interval: 30
  linux:
    #Enable Debian alternatives feature by setting nonzero 'altpriority' value here.
    #Increase same value on each subsequent software installation.
    #altpriority: 170
  prefs:
    user: undefined_user
    #See https://www.jetbrains.com/help/pycharm/exporting-and-importing-settings.html
    jarurl:
    jardir:
    jarfile: pycharm-settings.jar

