[Desktop Entry]
Encoding=UTF-8
Name={{ name }} {{ edition }}E
Comment={{ name }} {{ edition }}E
Icon={{ path }}/{{ command.split('.')[0] }}.png
Exec={{ path }}/{{ command }}
Terminal=false
Type=Application
