[Desktop Entry]
Encoding=UTF-8
Name=Jetbrains PyCharm {{ edition }} edition
Comment=JetBrains PyCharm (Python IDE)
Icon={{ home }}/{{ command.split('.')[0] }}.png
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
